# Gcloud Deployment-Manager Configuration

resources:
- name: {{ env["deployment"] }}
  type: compute.v1.instance
  properties:
    zone: us-central1-c
    machineType: projects/darxe-1479577863758/zones/us-central1-c/machineTypes/f1-micro
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: projects/centos-cloud/global/images/centos-7-v20181011
        diskType: projects/darxe-1479577863758/zones/us-central1-c/diskTypes/pd-standard
        diskSizeGb: 10
    canIpForward: false
    networkInterfaces:
    - network: projects/darxe-1479577863758/global/networks/default
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
    scheduling:
      preemptible: false
      onHostMaintenance: MIGRATE
      automaticRestart: true
    serviceAccounts:
    - email: compute-load-tester@darxe-1479577863758.iam.gserviceaccount.com
      scopes:
      - https://www.googleapis.com/auth/devstorage.read_only
      - https://www.googleapis.com/auth/logging.write
      - https://www.googleapis.com/auth/monitoring.write
      - https://www.googleapis.com/auth/servicecontrol
      - https://www.googleapis.com/auth/service.management.readonly
      - https://www.googleapis.com/auth/trace.append
    metadata:
      items:
      - key: startup-script
        value: |
          #!/bin/bash
        
          # Installing node.js
          sudo yum -y install epel-release
          sudo yum -y install nodejs
          sudo yum -y install npm

          # Installing Git
          sudo yum -y install git

          # Downloading source
          cd /home/walker_ward1
          git clone https://github.com/walkward/clique-load-testing.git
          cd clique-load-testing

          # Setting environment variables
          APP_BEARER_TOKEN=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJkYXRhIjp7InVzZXJJZCI6InVzNWNjYTJlLTBkZDgtNGI5NS04Y2ZjLWExMTIzMGU3MzExNiJ9LCJpYXQiOjE1NDA5NDQ0MDAsImV4cCI6MTU0MTIwMzYwMH0.BIsLL869sgLoyiXprKwqS07n1cXa6OWCQd5esxNAL-6RkzwRHjffgehuHbabmXI_VOatwELqLeebdHEMXB1_aQ
          APP_MAX_ITERATIONS=none
          APP_TEST_ENDPOINT=https://api.cliqueqa.com/rest/users/us5cca2e-0dd8-4b95-8cfc-a11230e73116?include=customer.projects.rootFolder%2Ccollections%2Cgroups.collections
          APP_ITERATION_INTERVAL=10

          # Install packages and start app
          npm install forever -g
          sudo npm install --only=production
          npm start
